<div class="jumbotron">
  <h1>SaaS bootstrap template</h1>
  <p>We have implemented multitenancy with apartment gem using postgresql without schema</p>
  <%= link_to "Create Account", new_account_path, class: 'btn btn-primary btn-lg' %>
</div>
