<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Desc</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'list_item', collection: @projects %>
    </tbody>
  </table>
</div>
