<div class="col-sm-4 col-md-4">
  <div class="project-thumbnail thumbnail">
    <div class="project-thumbnail-header">
      <figure>
        <%= link_to project_icon(project), project, style: 'background-color: #e3e34d', class: 'project-icon' %>
      </figure>
      <div class="project-header-content">
        <h3 class="project-title"><%= link_to project.name, project %></h3>
      </div>
    </div>
    <div class="project-thumbnail-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias veritatis optio natus esse nam libero nisi inventore quo ullam vitae similique dolorum quibusdam eligendi laudantium, vero atque odit est facere.</div>
    <div class="project-thumbnail-footer">
      <div class="nav-group-hz">
        <a href="#">Tasks1</a>
        <a href="#">Tasks2</a>
        <a href="#">Tasks3</a>
      </div>
    </div>
  </div>
</div>
