<div class="col-md-8 col-md-offset-2 panel project-form-panel">
  <div class="panel-heading">
    <h2 class="panel-title"><i class="fa fa-folder-o"></i> Editing Project <small><%= link_to 'View', @project %></small></h2>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
