<div class="col-md-6 col-md-offset-3 panel project-form-panel">
  <div class="panel-heading">
    <h2 class="panel-title"><i class="fa fa-folder-o"></i> Editing Project</h2>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
    <%= link_to 'Show', @project %> |
    <%= link_to 'Back', projects_path %>
  </div>
</div>
