<div class="col-md-6 col-md-offset-3 panel project-form-panel">
  <div class="panel-heading">
    <div class="icon pull-left">
      <i class="fa fa-folder-o"></i>
    </div>
    <h2 class="panel-title"> New Project</h2>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
    <%= link_to 'Back', projects_path %>
  </div>
</div>
