// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.projects.show {
  .main-content {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.projects {
  .table tr td {
    vertical-align: middle;
  }
  .project-row .project-icon {
    width: 32px;
    height: 32px;
    text-align: center;
    display: block;
    padding-top: 6px;
    text-decoration: none;
  }
  .project-thumbnail {
    padding: 0;
    min-height: 300px;
    border: 2px solid #f2f2f2;
    .project-thumbnail-header {
      background-color: #f2f2f2;
      min-height: 60px;
      figure {
        float: left;
        .project-icon {
          width: 50px;
          height: 60px;
          text-align: center;
          display: block;
          padding-top: 17px;
          text-decoration: none;
          font-size: 20px;
          border-top-left-radius: 3px;
        }
      }
      .project-header-content {
        margin-left: 60px;
        .project-title {
          margin-top: 0;
          padding-top: 15px;
        }
      }
    }
    .project-thumbnail-content {
      padding: 0 15px;
      min-height: 180px;
    }
    .project-thumbnail-footer {
      padding: 0 15px;
    }
  }
}

.project {
  .project-header {
    display: none;
    .page-title {
      .label {
        font-size: 14px;
        padding: .2em .6em .2em;
      }
    }
  }
  .project-card {
    .project-card-header {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border: 1px solid #e2e2e2;
      border-bottom-width: 0;
      background-color: #f2f2f2;
      padding: 7px 15px;
      position: relative;

      .project-header-logo {
        float: left;
        margin-top: 15px;
        .project-icon {
          width: 128px;
          height: 128px;
          text-align: center;
          display: block;
          padding-top: 24px;
          text-decoration: none;
          font-size: 62px;
        }
      }
      .project-header-content {
        margin-left: 150px;
      }
    }
    .project-card-content {
      padding: 0px 15px 15px 15px;
      .project-tool-bar {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-left: 150px;
      }
    }
  }
}
