// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.projects.show {
  .main-content {
    padding-left: 15px;
    padding-right: 15px;
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
  @media (min-width: 768px) {
    .main-content {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.projects-panel {
  .table tr td {
    vertical-align: middle;
  }
  .project-row .project-icon {
    width: 32px;
    height: 32px;
    text-align: center;
    display: block;
    padding-top: 6px;
    text-decoration: none;
  }
  .project-thumbnail {
    padding: 0;
    min-height: 300px;
    box-shadow: $base-box-shadow;
    .project-thumbnail-header {
      min-height: 60px;
      figure {
        float: left;
        .project-icon {
          width: 3px;
          height: 60px;
          text-align: center;
          display: block;
          padding-top: 17px;
          text-decoration: none;
          font-size: 20px;
          border-top-left-radius: 3px;
        }
      }
      .project-header-content {
        margin-left: 15px;
        .project-title {
          margin-top: 0;
          padding-top: 15px;
        }
      }
    }
    .project-thumbnail-content {
      padding: 0 15px;
      min-height: 180px;
    }
    .project-thumbnail-footer {
      padding: 0 15px;
    }
  }
}

$project-show-logo: false;

.project {
  margin-top: 30px;
  .project-header {
    display: none;
    .page-title {
      .label {
        font-size: 14px;
        padding: .2em .6em .2em;
      }
    }
  }
  .project-card {
    box-shadow: $base-box-shadow;
    .project-card-header {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border: 1px solid #e2e2e2;
      border-bottom-width: 0;
      background-color: #f2f2f2;
      padding: 7px 15px;
      position: relative;

      @if $project-show-logo {
        .project-header-logo {
          float: left;
          margin-top: 15px;
          .project-icon {
            width: 128px;
            height: 128px;
            text-align: center;
            display: block;
            padding-top: 24px;
            text-decoration: none;
            font-size: 62px;
          }
        }
        .project-header-content {
          margin-left: 150px;
        }
        .project-card-content {
          .project-tool-bar {
            margin-left: 150px;
          }
        }
      }

      .project-tool-bar {
        margin-top: -30px;
      }
      .project-header-content {
        margin-bottom: 15px;
      }
    }
    .project-card-content {
      padding: 15px;
      .project-tool-bar {
        padding-top: 15px;
        padding-bottom: 15px;
      }
      .project-sidebar {
        border-right: 1px solid #f2f2f2;
      }
      .project-card-panel {
        .panel-heading {
          .panel-title {
            font-size: $font-size-h3;
          }
        }
        .latest-updates-panel {
          .latest-update {
            margin-bottom: 15px;
          }
        }
        .todo-list-panel {
          .todo-list {
            .todo-item {
              padding: 7px 15px;
              input[type="checkbox"] {
                margin-right: 15px;
              }
              input[type="text"] {
                display: inline;
                width: 80%;
                border-color: transparent;
              }
              input[type="text"]:focus {
                border: 1px solid #f2f2f2;
                outline: none;
              }
            }
          }
        } // todo-list-panel
        .discussions-panel {
          tr.discussion {
            border-top: 1px solid #f2f2f2;
            td {
              display: block;
              width: 100%;
              border: none;
            }
          }
          @media (min-width: 768px) {
            tr.discussion {
              border: none;
              td {
                display: table-cell;
                width: auto;
              }
            }
          }
        } // discussions-panel
      } // project-card-panel
    } // project-card-content
  } // project-card
  #attachmentLightBoxModal .modal-content {
    /*background-color: transparent;*/
    .lightbox-file-title {
      word-wrap: break-word;
    }
    .lightbox-file-size {
      font-style: italic;
    }
    .lightbox-thumbnails {
      margin-top: 30px;
      text-align: center;
      .thumbnail.attachment {
        display: inline-block;
        margin-right: 15px;
      }
    }
  }
} // project
.project-form-panel {

  .panel-title {
    font-size: $padding-base-vertical * 3;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    small {
      line-height: 62px;
      float: right;
      display: inline-block;
      a {
        color: $brand-primary;
      }
    }
  }
  @media (min-width: 768px) {

    .panel-body {
      margin-left: 60px;
      margin-right: 60px;
    }
  }
}
