$primaryColor: #f3f3e3;
body {
  padding-top: 0px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.navbar.navbar-borderless {
  border-bottom: 1px solid #f2f2f2;
}

.page-header {
  margin-top: 0;
  h2 {
  }
}
