body.skin-green {
  background-color: #f2f2e9;

  .main-content {
      background-color: #fff;
      box-shadow: $base-box-shadow;
      padding-left: 30px;
      padding-right: 30px;
  }
}

body.skin-default {
  background-color: #fff;
}
