$primaryColor: #f3f3e3;
$base-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

/* Bootstrap variable customized */

// Typography
$font-family-sans-serif:  "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
// Colors
$gray-base:              #222 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 85.5%) !default; // #eee

$brand-primary:         #A26CFA !default; //#49A8DB; // #337ab7
$brand-success:         #38B44A !default;
$brand-info:            #A7748F !default;
$brand-warning:         #EFB73E !default;
$brand-danger:          #DF382C !default;

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     14px !default;
$padding-base-horizontal:   24px !default;

$padding-large-vertical:    18px !default;
$padding-large-horizontal:  38px !default;

$padding-small-vertical:    8px !default;
$padding-small-horizontal:  12px !default;

$padding-xs-vertical:       2px !default;
$padding-xs-horizontal:     6px !default;

// Navbar styles
$navbar-height: 60px !default;
$navbar-default-bg:    transparent !default; //#49A8DB !default;
$navbar-default-link-color:                $gray !default;
$navbar-default-link-hover-color:          darken($brand-primary, 4.5%); //#fff !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         darken($brand-primary, 4.5%); //#fff !default;
$navbar-default-link-active-bg:            transparent !default; //darken($navbar-default-bg, 4.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #fff !default;
$navbar-default-toggle-icon-bar-bg:        #fff !default;
$navbar-default-toggle-border-color:       #fff !default;
